
.ul{margin:0;
    padding:0 0 0 1px;
    list-style-type: none;
    margin-left: 27.7%;
}


.a{
    display: block;
    width: 138px;
    height: 35px;
    background: black;
    color: beige;
    font-size: 14px;
    line-height: 35px;
    text-decoration: none;
    padding-left: 15px;
    font-family: Tahoma;
    font-weight: bold;
}

.a:hover{
    background: darkred;

}

.li{

    float: left;
}
.menuP{
    float: left;
}



.main-footer {
    background: black;
    padding: 10px;
    margin-top: 0%;
    font-family: "Montserrat", sans-serif;
}

.main-footer span{
    color: beige;
    margin-left: 300px;
}

.conA{
    text-decoration: none;
    color: beige;
    padding: 3px;
}

.conA:hover{
    color: darkred;
}

#h3{
    background-color: darkred;
    color: beige;
    width: 765px;
    margin-left: 440px;
    font-weight: bold;
    font-family: Tahoma;
}

h3{
    text-align: center;
}

h1{
    color: darkred;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
}



.text2{
    font-weight: bold;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;

}
h2{
    text-align: center;
}

h4{
    font-size: 17px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.paragr2{
    font-family: Arial, Helvetica, sans-serif;
}